* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yeon Sung', cursive;
}

body {
    text-align: center;
}

.container {
    background: blue;
    width: 1000px;
    margin: 0 auto;
}

h1 {
    padding: 20px 0;
}

#showcase {
    background-image: url('../img/showcase.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 700px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

#wineContainer {
    width: 220px;
    height: 93px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 104px;
    right: 50px;
}

.wineBottle {
    width: auto;
    height: 85px;
    margin-top: 7px;
}

#div2 {
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}